[package]
name = "git-interactive-rebase-tool"
version = "2.1.0"
authors = ["Tim Oram <dev@mitmaro.ca>"]
license = "GPL-3.0-or-later"
description = "Full feature terminal based sequence editor for git interactive rebase."
homepage = "https://gitrebasetool.mitmaro.ca/"
repository = "https://github.com/MitMaro/git-interactive-rebase-tool"
keywords = [ "git", "editor", "tool", "rebase", "cli" ]
categories = ["command-line-interface", "command-line-utilities", "text-editors"]
readme = "README.md"
include = [
    "**/*.rs",
    "/Cargo.toml",
    "/CHANGELOG.md",
    "/LICENSE",
    "/readme",
    "/README.md"
]
edition = "2018"

[[bin]]
name = "interactive-rebase-tool"
path = "src/main.rs"

[dependencies]
anyhow = "1.0"
chrono = "0.4"
crossterm = "0.20.0"
lazy_static = "1.4.0"
num-format = "0.4.0"
pico-args = "0.4.2"
unicode-segmentation = "1.7.1"
unicode-width = "0.1.8"
xi-unicode = "0.3.0"

[dependencies.uuid]
version = "0.8.1"
features = ["v4"]

[dependencies.git2]
version = "0.13.20"
default-features = false
features = []

[dev-dependencies]
concat-idents = "1.1.2"
rstest = "0.6.4"
serial_test = "0.5.1"
tempfile = "3.2.0"

[build-dependencies]
chrono = "0.4"

[features]
default = []
dev = []

[profile.release]
incremental = true
debug = 0
lto = true
codegen-units = 1

[package.metadata.deb]
license-file = ["LICENSE"]
extended-description = """\
Full feature terminal based sequence editor for git interactive rebase."""
section = "utility"
priority = "optional"
assets = [
    ["target/release/interactive-rebase-tool", "usr/bin/interactive-rebase-tool", "755"],
    ["README.md", "usr/share/doc/interactive-rebase-tool/", "644"],
    ["readme/**/*.md", "usr/share/doc/interactive-rebase-tool/readme/", "644"],
    ["CHANGELOG.md", "usr/share/doc/interactive-rebase-tool/", "644"],
    ["src/interactive-rebase-tool.1", "usr/share/man/man1/interactive-rebase-tool.1", "644"]
]
