[package]
name = "git-interactive-rebase-tool"
version = "0.7.0"
authors = ["Tim Oram <dev@mitmaro.ca>"]
license = "ISC"
description = "Full feature terminal based sequence editor for git interactive rebase. Written in Rust using ncurses."
repository = "https://github.com/MitMaro/git-interactive-rebase-tool"
keywords = [ "git", "editor", "tool", "rebase", "interactive" ]
readme = "README.md"
include = [
    "**/*.rs",
    "Cargo.toml",
    "CHANGELOG.md",
    "LICENSE",
    "README.md"
]

[[bin]]
name = "interactive-rebase-tool"
path = "src/main.rs"

[dependencies]
chrono = "0.4"
clap = "2.32.0"
unicode-segmentation = "1.1.0"

[dependencies.pancurses]
version = "0.16"
features = ["win32", "wide"]

[dependencies.git2]
version = "0.7.2"
default-features = false
features = []

[features]
default = []

[package.metadata.deb]
maintainer = "Tim Oram <dev@mitmaro.ca>"
copyright = "Tim Oram <dev@mitmaro.ca>"
license-file = ["LICENSE", "2"]
extended-description = """\
Full feature terminal based sequence editor for git interactive rebase. Written in Rust using ncurses."""
depends = "libncurses5 (>= 6), libgcc1 (>= 1:6), libtinfo5 (>= 6), zlib1g (>= 1:1), libc6 (>= 2)"
section = "utility"
priority = "optional"
assets = [
    ["target/release/interactive-rebase-tool", "usr/bin/interactive-rebase-tool", "755"],
    ["README.md", "usr/share/doc/cargo-deb/README", "644"],
    ["CHANGELOG.md", "usr/share/doc/cargo-deb/CHANGELOG", "644"],
    ["src/interactive-rebase-tool.1", "usr/share/man/man1/interactive-rebase-tool.1", "644"]
]
