[package]
name = "girt-core"
version = "2.2.0"
authors = ["Tim Oram <dev@mitmaro.ca>"]
license = "GPL-3.0-or-later"
description = "Core modules for git-interactive-rebase-tool"
homepage = "https://gitrebasetool.mitmaro.ca/"
repository = "https://github.com/MitMaro/git-interactive-rebase-tool"
edition = "2021"
keywords = ["git", "cli"]
categories = ["command-line-interface", "command-line-utilities", "text-editors"]
readme = "README.md"

[lib]
name = "core"

[dependencies]
anyhow = "1.0.58"
captur = "0.1.0"
lazy_static = "1.4.0"
num-format = "0.4.0"
parking_lot = "0.12.1"
pico-args = "0.5.0"
unicode-segmentation = "1.9.0"
girt-config = {version = "2.2.0", path = "../../src/config"}
girt-display = {version = "2.2.0", path = "../../src/display"}
girt-git = {version = "2.2.0", path = "../../src/git"}
girt-input = {version = "2.2.0", path = "../../src/input"}
girt-runtime = {version = "0.1.0", path = "../runtime"}
girt-todo-file = {version = "2.2.0", path = "../../src/todo_file"}
girt-view = {version = "2.2.0", path = "../../src/view"}

[dev-dependencies]
pretty_assertions = "1.2.1"
rstest = "0.15.0"
serial_test = "0.8.0"
tempfile = "3.3.0"

[build-dependencies]
chrono = "0.4.20"
rustc_version = "0.4.0"
