[package]
name = "girt-core"
version = "1.0.0"
authors = ["Tim Oram <dev@mitmaro.ca>"]
license = "GPL-3.0-or-later"
description = "Core modules for git-interactive-rebase-tool"
homepage = "https://gitrebasetool.mitmaro.ca/"
repository = "https://github.com/MitMaro/git-interactive-rebase-tool"
edition = "2021"
keywords = ["git", "cli"]
categories = ["command-line-interface", "command-line-utilities", "text-editors"]
readme = "../../README.md"

[lib]
name = "core"

[dependencies]
anyhow = "1.0.53"
captur = "0.1.0"
lazy_static = "1.4.0"
num-format = "0.4.0"
pico-args = "0.4.2"
unicode-segmentation = "1.9.0"
girt-config = {version = "1.0.0", path = "../../src/config"}
girt-display = {version = "1.0.0", path = "../../src/display"}
girt-git = {version = "0.2.0", path = "../../src/git"}
girt-input = {version = "1.0.0", path = "../../src/input"}
girt-todo-file = {version = "1.0.0", path = "../../src/todo_file"}
girt-view = {version = "1.1.0", path = "../../src/view"}

[dev-dependencies]
captur = "0.1.0"
rstest = "0.12.0"
serial_test = "0.5.1"
tempfile = "3.3.0"

[build-dependencies]
chrono = "0.4.19"
rustc_version = "0.4.0"
