name: Release Latest

on:
    push:
        branches:
            - master
jobs:
  ubuntu:
    name: Ubuntu
    runs-on: ubuntu-latest
    timeout-minutes: 10
    env:
        TARGET_RELEASE_ID: 18843342
        GITHUB_ACCESS_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
        REPOSITORY: "MitMaro/git-interactive-rebase-tool"
    steps:
      - uses: actions/checkout@v3
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
      - name: "System Setup"
        run: |
            sudo apt-get update || true;
            sudo apt-get --assume-yes -f install curl build-essential pkg-config liblzma-dev;
            cargo install --force cargo-deb
      - name: "Build Deb"
        run: cargo +stable deb --output "target/debian/git-interactive-rebase-tool-ubuntu_amd64.deb" -- --features dev
      - name: Upload
        env:
            FILE_PATH: "target/debian/git-interactive-rebase-tool-ubuntu_amd64.deb"
            ASSET_NAME: git-interactive-rebase-tool-ubuntu_amd64.deb
            CONTENT_TYPE: "application/vnd.debian.binary-package"
        run: "./.github/scripts/push-latest-release.bash"
      - name: "Update Tag and Title"
        env:
            DEFAULT_BRANCH: "master"
        run: "./.github/scripts/update-tag.bash"
  macos:
    name: MacOS
    runs-on: macos-latest
    timeout-minutes: 10
    env:
        TARGET_RELEASE_ID: 18843342
        GITHUB_ACCESS_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
        REPOSITORY: "MitMaro/git-interactive-rebase-tool"
    steps:
      - uses: actions/checkout@v3
      - uses: dtolnay/rust-toolchain@nightly
        with:
          toolchain: nightly-2022-11-21
      - name: "Build"
        run: cargo build --features dev --release
      - name: Upload
        env:
            FILE_PATH: "target/release/interactive-rebase-tool"
            ASSET_NAME: macos-interactive-rebase-tool
            CONTENT_TYPE: "application/x-mach-binary"
        run: "./.github/scripts/push-latest-release.bash"
